$width-desktop: 1440px;
$width-mobile: 375px;
$Dark-Violet: hsl(256, 26%, 20%);
$Grayish-Blue: hsl(216, 30%, 68%);
$Very-Dark-Violet: hsl(270, 9%, 17%);
$Dark-Grayish-Violet: hsl(273, 4%, 51%);
$Very-Light-Gray: hsl(0, 0%, 98%);
$main-font-size: 16px;
$head-font-family: Aria;
$head-font-weight: 400;
$body-font-family: Roboto ;
$body-font-weight1: 400;
$body-font-weight2: 700;

* {
    margin: 0;
    padding: 0;
}

body {
    background: $Very-Light-Gray;
    height: 3000px;
 
 }

nav {
    width: $width-desktop;
    height: 80px;
    background-color:$Very-Light-Gray;
}

#logo {
    width: 100px;
    color: $Very-Dark-Violet;
    margin-left: 145px;
    margin-top: 30px;
    font-family: $head-font-family;
    font-size: $main-font-size;
    font-weight: 400;
    letter-spacing: 1px;
    float: left;
}

.menu ul {
    float: left;
    margin-left: 800px;
    margin-top: -23px;
}

.menu ul li {
    color: $Dark-Grayish-Violet;
    display: inline;
    margin-right: 40px;
}

.menu a {
    text-decoration: none;
    font-family: $head-font-family;
    text-transform: uppercase;
    opacity: 50%;
}
.menu a:hover {
    color: $Very-Dark-Violet;
    border-bottom: solid 1px $Very-Dark-Violet;
}

#topButton {
    border: solid 1px $Very-Dark-Violet;
    padding: 5px 20px;
    opacity: 100%;
}

#topButton a {
    font-size: 20px;
    color: $Very-Dark-Violet;
}
#topButton a:hover {
    color: $Dark-Violet;
}

.top {
    width: $width-desktop;
    height: 595px;
    background-color:$Dark-Violet;
}

.topInformation {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 280px;
    float: left;
    margin-top: 100px;
    margin-left: 165px;
    width: 565px;
    height: 365px;
}
.topInformation h1 {
    font-size: 82px;
    font-family: $head-font-family;
    color: #fff;
    margin-top: 60px;
    line-height: 67px;
}
.topInformation h3 {
    color: #fff;
    font-family: $body-font-family;
    font-size: $main-font-size;
    margin-top: 25px;
    letter-spacing: 0.1mm;
}
.topInformation button {
    width: 145px;
    height: 35px;
    border: solid 1px #fff;
    text-align: center;
    background-color: $Dark-Violet;
    color: #fff;
    margin-top: 30px;
    font-family: $body-font-family;
    font-size: $main-font-size;
    text-transform: uppercase;

}

.topPic {
    width: 540px;
    height: 650px;
    float: left;
    margin-top: 100px;
    background-image: url(images/image-intro-mobile.jpg);
    background-size: cover;
}
